

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;


    color: white;

    background-color: black;
    background-attachment: fixed;

    font-family: 'VT323', monospace;

}



